openapi: 3.2.0
info:
  title: Juniper Networks Juniper Mist Cloud Maps API
  description: RESTful API for the Juniper Mist AI-driven cloud platform. Mist provides centralized management of wireless access points, wired switches, and SD-WAN gateways through a single cloud dashboard. The API enables programmatic access to organization, site, device, and client management as well as monitoring, analytics, and configuration automation. Mist uses AI and machine learning to optimize wireless performance, detect anomalies, and provide proactive insights. The API follows REST conventions with JSON request and response bodies.
  version: '1.0'
  contact:
    name: Juniper Mist Developer Support
    url: https://www.juniper.net/documentation/product/us/en/mist/
  license:
    name: Proprietary
    url: https://www.juniper.net/us/en/legal-notices.html
  termsOfService: https://www.juniper.net/us/en/legal-notices.html
servers:
- url: https://api.mist.com/api/v1
  description: Mist Global Cloud API (US region)
- url: https://api.eu.mist.com/api/v1
  description: Mist EU Cloud API (EU region)
- url: https://api.gc1.mist.com/api/v1
  description: Mist GovCloud API (US Government)
security:
- apiToken: []
- csrfToken: []
tags:
- name: Maps
  description: Floor plan and map management for site RF planning.
paths:
  /sites/{site_id}/maps:
    get:
      operationId: listSiteMaps
      summary: Juniper Networks List site maps
      description: Returns all floor plan maps for a site. Maps are used for indoor location, RF planning, and device placement visualization.
      tags:
      - Maps
      parameters:
      - $ref: '#/components/parameters/SiteId'
      responses:
        '200':
          description: Maps returned.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Map'
        '401':
          $ref: '#/components/responses/Unauthorized'
components:
  schemas:
    Error:
      type: object
      properties:
        detail:
          type: string
          description: Human-readable error description.
    Map:
      type: object
      properties:
        id:
          type: string
          format: uuid
          description: Map unique identifier.
        name:
          type: string
          description: Map or floor plan name.
        type:
          type: string
          enum:
          - image
          - google
          description: Map type.
        width:
          type: number
          description: Map width in meters.
        height:
          type: number
          description: Map height in meters.
        url:
          type: string
          description: URL to the uploaded floor plan image.
        ppm:
          type: number
          description: Pixels per meter for the floor plan image.
  responses:
    Unauthorized:
      description: Authentication required or token invalid.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  parameters:
    SiteId:
      name: site_id
      in: path
      required: true
      description: Site unique identifier.
      schema:
        type: string
        format: uuid
  securitySchemes:
    apiToken:
      type: http
      scheme: bearer
      description: API token authentication. Generate tokens via the Mist dashboard under Organization > Settings > API Token or via POST /self/apitokens. Pass the token in the Authorization header as Bearer {token}.
    csrfToken:
      type: apiKey
      in: header
      name: X-CSRFToken
      description: CSRF token for session-based authentication. Obtained from the login response and required for all mutating operations when using cookie authentication.
