openapi: 3.2.0
info:
  title: Juniper Networks Juniper Mist Cloud WLA Ns API
  description: RESTful API for the Juniper Mist AI-driven cloud platform. Mist provides centralized management of wireless access points, wired switches, and SD-WAN gateways through a single cloud dashboard. The API enables programmatic access to organization, site, device, and client management as well as monitoring, analytics, and configuration automation. Mist uses AI and machine learning to optimize wireless performance, detect anomalies, and provide proactive insights. The API follows REST conventions with JSON request and response bodies.
  version: '1.0'
  contact:
    name: Juniper Mist Developer Support
    url: https://www.juniper.net/documentation/product/us/en/mist/
  license:
    name: Proprietary
    url: https://www.juniper.net/us/en/legal-notices.html
  termsOfService: https://www.juniper.net/us/en/legal-notices.html
servers:
- url: https://api.mist.com/api/v1
  description: Mist Global Cloud API (US region)
- url: https://api.eu.mist.com/api/v1
  description: Mist EU Cloud API (EU region)
- url: https://api.gc1.mist.com/api/v1
  description: Mist GovCloud API (US Government)
security:
- apiToken: []
- csrfToken: []
tags:
- name: WLANs
  description: Wireless LAN configuration including SSIDs, security, and VLAN assignment.
paths:
  /sites/{site_id}/wlans:
    get:
      operationId: listSiteWlans
      summary: Juniper Networks List site WLANs
      description: Returns all WLAN configurations for a site. Each WLAN defines an SSID with associated security, VLAN, and radio settings.
      tags:
      - WLANs
      parameters:
      - $ref: '#/components/parameters/SiteId'
      responses:
        '200':
          description: WLANs returned.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Wlan'
        '401':
          $ref: '#/components/responses/Unauthorized'
    post:
      operationId: createSiteWlan
      summary: Juniper Networks Create WLAN
      description: Creates a new WLAN (SSID) at a site with specified security, VLAN, and radio configuration.
      tags:
      - WLANs
      parameters:
      - $ref: '#/components/parameters/SiteId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Wlan'
      responses:
        '200':
          description: WLAN created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Wlan'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
components:
  schemas:
    Error:
      type: object
      properties:
        detail:
          type: string
          description: Human-readable error description.
    Wlan:
      type: object
      properties:
        id:
          type: string
          format: uuid
          description: WLAN unique identifier.
        ssid:
          type: string
          description: SSID name broadcast by access points.
        enabled:
          type: boolean
          description: Whether the WLAN is enabled.
        auth:
          type: object
          properties:
            type:
              type: string
              enum:
              - open
              - psk
              - eap
              - wep
              description: Authentication type.
            psk:
              type: string
              description: Pre-shared key for PSK authentication.
          description: Authentication configuration.
        band:
          type: string
          enum:
          - '2.4'
          - '5'
          - '6'
          - both
          description: Radio band for the WLAN.
        vlan_enabled:
          type: boolean
          description: Whether VLAN tagging is enabled.
        vlan_id:
          type: integer
          description: VLAN ID for client traffic.
        hide_ssid:
          type: boolean
          description: Whether to hide the SSID from broadcast.
        band_steer:
          type: boolean
          description: Whether band steering is enabled.
        client_limit_down:
          type: integer
          description: Per-client downstream rate limit in kbps.
        client_limit_up:
          type: integer
          description: Per-client upstream rate limit in kbps.
  parameters:
    SiteId:
      name: site_id
      in: path
      required: true
      description: Site unique identifier.
      schema:
        type: string
        format: uuid
  responses:
    Unauthorized:
      description: Authentication required or token invalid.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    BadRequest:
      description: Invalid request parameters.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  securitySchemes:
    apiToken:
      type: http
      scheme: bearer
      description: API token authentication. Generate tokens via the Mist dashboard under Organization > Settings > API Token or via POST /self/apitokens. Pass the token in the Authorization header as Bearer {token}.
    csrfToken:
      type: apiKey
      in: header
      name: X-CSRFToken
      description: CSRF token for session-based authentication. Obtained from the login response and required for all mutating operations when using cookie authentication.
