openapi: 3.2.0
info:
  title: Juniper Networks Juniper Mist Cloud Alarms API
  description: RESTful API for the Juniper Mist AI-driven cloud platform. Mist provides centralized management of wireless access points, wired switches, and SD-WAN gateways through a single cloud dashboard. The API enables programmatic access to organization, site, device, and client management as well as monitoring, analytics, and configuration automation. Mist uses AI and machine learning to optimize wireless performance, detect anomalies, and provide proactive insights. The API follows REST conventions with JSON request and response bodies.
  version: '1.0'
  contact:
    name: Juniper Mist Developer Support
    url: https://www.juniper.net/documentation/product/us/en/mist/
  license:
    name: Proprietary
    url: https://www.juniper.net/us/en/legal-notices.html
  termsOfService: https://www.juniper.net/us/en/legal-notices.html
servers:
- url: https://api.mist.com/api/v1
  description: Mist Global Cloud API (US region)
- url: https://api.eu.mist.com/api/v1
  description: Mist EU Cloud API (EU region)
- url: https://api.gc1.mist.com/api/v1
  description: Mist GovCloud API (US Government)
security:
- apiToken: []
- csrfToken: []
tags:
- name: Alarms
  description: Alarm monitoring, acknowledgment, and notification configuration.
paths:
  /sites/{site_id}/alarms:
    get:
      operationId: listSiteAlarms
      summary: Juniper Networks List site alarms
      description: Returns active and recent alarms for a site. Alarms indicate device health issues, connectivity problems, and configuration anomalies detected by the Mist platform.
      tags:
      - Alarms
      parameters:
      - $ref: '#/components/parameters/SiteId'
      - name: start
        in: query
        description: Start time epoch in seconds.
        schema:
          type: integer
      - name: end
        in: query
        description: End time epoch in seconds.
        schema:
          type: integer
      - name: type
        in: query
        description: Filter by alarm type.
        schema:
          type: string
      responses:
        '200':
          description: Alarms returned.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Alarm'
        '401':
          $ref: '#/components/responses/Unauthorized'
components:
  schemas:
    Alarm:
      type: object
      properties:
        id:
          type: string
          format: uuid
          description: Alarm unique identifier.
        type:
          type: string
          description: Alarm type identifier.
        severity:
          type: string
          enum:
          - critical
          - warn
          - info
          description: Alarm severity level.
        group:
          type: string
          description: Alarm group category.
        count:
          type: integer
          description: Number of occurrences.
        last_seen:
          type: number
          description: Last occurrence timestamp in epoch seconds.
        acked:
          type: boolean
          description: Whether the alarm has been acknowledged.
    Error:
      type: object
      properties:
        detail:
          type: string
          description: Human-readable error description.
  responses:
    Unauthorized:
      description: Authentication required or token invalid.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  parameters:
    SiteId:
      name: site_id
      in: path
      required: true
      description: Site unique identifier.
      schema:
        type: string
        format: uuid
  securitySchemes:
    apiToken:
      type: http
      scheme: bearer
      description: API token authentication. Generate tokens via the Mist dashboard under Organization > Settings > API Token or via POST /self/apitokens. Pass the token in the Authorization header as Bearer {token}.
    csrfToken:
      type: apiKey
      in: header
      name: X-CSRFToken
      description: CSRF token for session-based authentication. Obtained from the login response and required for all mutating operations when using cookie authentication.
