openapi: 3.2.0
info:
  title: Juniper Networks Juniper Mist Cloud Clients API
  description: RESTful API for the Juniper Mist AI-driven cloud platform. Mist provides centralized management of wireless access points, wired switches, and SD-WAN gateways through a single cloud dashboard. The API enables programmatic access to organization, site, device, and client management as well as monitoring, analytics, and configuration automation. Mist uses AI and machine learning to optimize wireless performance, detect anomalies, and provide proactive insights. The API follows REST conventions with JSON request and response bodies.
  version: '1.0'
  contact:
    name: Juniper Mist Developer Support
    url: https://www.juniper.net/documentation/product/us/en/mist/
  license:
    name: Proprietary
    url: https://www.juniper.net/us/en/legal-notices.html
  termsOfService: https://www.juniper.net/us/en/legal-notices.html
servers:
- url: https://api.mist.com/api/v1
  description: Mist Global Cloud API (US region)
- url: https://api.eu.mist.com/api/v1
  description: Mist EU Cloud API (EU region)
- url: https://api.gc1.mist.com/api/v1
  description: Mist GovCloud API (US Government)
security:
- apiToken: []
- csrfToken: []
tags:
- name: Clients
  description: Wireless and wired client session monitoring and statistics.
paths:
  /sites/{site_id}/stats/clients:
    get:
      operationId: listSiteClientStats
      summary: Juniper Networks List client statistics
      description: Returns statistics for wireless clients connected at a site, including signal strength, data usage, and connection quality metrics.
      tags:
      - Clients
      parameters:
      - $ref: '#/components/parameters/SiteId'
      - name: start
        in: query
        description: Start time epoch in seconds.
        schema:
          type: integer
      - name: end
        in: query
        description: End time epoch in seconds.
        schema:
          type: integer
      - name: limit
        in: query
        description: Maximum number of results.
        schema:
          type: integer
          default: 100
      responses:
        '200':
          description: Client statistics returned.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ClientStat'
        '401':
          $ref: '#/components/responses/Unauthorized'
components:
  responses:
    Unauthorized:
      description: Authentication required or token invalid.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  schemas:
    Error:
      type: object
      properties:
        detail:
          type: string
          description: Human-readable error description.
    ClientStat:
      type: object
      properties:
        mac:
          type: string
          description: Client MAC address.
        hostname:
          type: string
          description: Client hostname.
        ip:
          type: string
          description: Client IP address.
        ssid:
          type: string
          description: Connected SSID.
        ap_mac:
          type: string
          description: MAC address of the connected AP.
        rssi:
          type: number
          description: Received signal strength indicator in dBm.
        snr:
          type: number
          description: Signal-to-noise ratio in dB.
        band:
          type: string
          description: Connected radio band.
        channel:
          type: integer
          description: Connected radio channel.
        rx_bytes:
          type: integer
          description: Total received bytes.
        tx_bytes:
          type: integer
          description: Total transmitted bytes.
        rx_rate:
          type: number
          description: Receive data rate in Mbps.
        tx_rate:
          type: number
          description: Transmit data rate in Mbps.
  parameters:
    SiteId:
      name: site_id
      in: path
      required: true
      description: Site unique identifier.
      schema:
        type: string
        format: uuid
  securitySchemes:
    apiToken:
      type: http
      scheme: bearer
      description: API token authentication. Generate tokens via the Mist dashboard under Organization > Settings > API Token or via POST /self/apitokens. Pass the token in the Authorization header as Bearer {token}.
    csrfToken:
      type: apiKey
      in: header
      name: X-CSRFToken
      description: CSRF token for session-based authentication. Obtained from the login response and required for all mutating operations when using cookie authentication.
