openapi: 3.2.0
info:
  title: Juniper Networks Juniper Mist Cloud Insights API
  description: RESTful API for the Juniper Mist AI-driven cloud platform. Mist provides centralized management of wireless access points, wired switches, and SD-WAN gateways through a single cloud dashboard. The API enables programmatic access to organization, site, device, and client management as well as monitoring, analytics, and configuration automation. Mist uses AI and machine learning to optimize wireless performance, detect anomalies, and provide proactive insights. The API follows REST conventions with JSON request and response bodies.
  version: '1.0'
  contact:
    name: Juniper Mist Developer Support
    url: https://www.juniper.net/documentation/product/us/en/mist/
  license:
    name: Proprietary
    url: https://www.juniper.net/us/en/legal-notices.html
  termsOfService: https://www.juniper.net/us/en/legal-notices.html
servers:
- url: https://api.mist.com/api/v1
  description: Mist Global Cloud API (US region)
- url: https://api.eu.mist.com/api/v1
  description: Mist EU Cloud API (EU region)
- url: https://api.gc1.mist.com/api/v1
  description: Mist GovCloud API (US Government)
security:
- apiToken: []
- csrfToken: []
tags:
- name: Insights
  description: AI-driven network insights, anomaly detection, and Marvis recommendations.
paths:
  /sites/{site_id}/insights/marvis:
    get:
      operationId: listMarvisActions
      summary: Juniper Networks List Marvis actions
      description: Returns AI-driven Marvis actions for a site. Marvis uses machine learning to identify network issues, anomalies, and optimization opportunities. Actions include recommended fixes for AP health, client connectivity, and capacity issues.
      tags:
      - Insights
      parameters:
      - $ref: '#/components/parameters/SiteId'
      - name: start
        in: query
        description: Start time epoch in seconds.
        schema:
          type: integer
      - name: end
        in: query
        description: End time epoch in seconds.
        schema:
          type: integer
      responses:
        '200':
          description: Marvis actions returned.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/MarvisAction'
        '401':
          $ref: '#/components/responses/Unauthorized'
components:
  schemas:
    MarvisAction:
      type: object
      properties:
        type:
          type: string
          description: Action category (e.g., ap_health, client_connectivity, capacity).
        details:
          type: string
          description: Description of the detected issue and recommended action.
        site_id:
          type: string
          format: uuid
          description: Affected site ID.
        device_id:
          type: string
          format: uuid
          description: Affected device ID if applicable.
        severity:
          type: string
          enum:
          - critical
          - warning
          - info
          description: Severity level of the action.
        timestamp:
          type: number
          description: Detection timestamp in epoch seconds.
    Error:
      type: object
      properties:
        detail:
          type: string
          description: Human-readable error description.
  responses:
    Unauthorized:
      description: Authentication required or token invalid.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  parameters:
    SiteId:
      name: site_id
      in: path
      required: true
      description: Site unique identifier.
      schema:
        type: string
        format: uuid
  securitySchemes:
    apiToken:
      type: http
      scheme: bearer
      description: API token authentication. Generate tokens via the Mist dashboard under Organization > Settings > API Token or via POST /self/apitokens. Pass the token in the Authorization header as Bearer {token}.
    csrfToken:
      type: apiKey
      in: header
      name: X-CSRFToken
      description: CSRF token for session-based authentication. Obtained from the login response and required for all mutating operations when using cookie authentication.
