openapi: 3.2.0
info:
  title: Juniper Networks Juniper Mist Cloud Inventory API
  description: RESTful API for the Juniper Mist AI-driven cloud platform. Mist provides centralized management of wireless access points, wired switches, and SD-WAN gateways through a single cloud dashboard. The API enables programmatic access to organization, site, device, and client management as well as monitoring, analytics, and configuration automation. Mist uses AI and machine learning to optimize wireless performance, detect anomalies, and provide proactive insights. The API follows REST conventions with JSON request and response bodies.
  version: '1.0'
  contact:
    name: Juniper Mist Developer Support
    url: https://www.juniper.net/documentation/product/us/en/mist/
  license:
    name: Proprietary
    url: https://www.juniper.net/us/en/legal-notices.html
  termsOfService: https://www.juniper.net/us/en/legal-notices.html
servers:
- url: https://api.mist.com/api/v1
  description: Mist Global Cloud API (US region)
- url: https://api.eu.mist.com/api/v1
  description: Mist EU Cloud API (EU region)
- url: https://api.gc1.mist.com/api/v1
  description: Mist GovCloud API (US Government)
security:
- apiToken: []
- csrfToken: []
tags:
- name: Inventory
  description: Device claiming, unclaiming, and inventory management.
paths:
  /orgs/{org_id}/inventory:
    get:
      operationId: listOrgInventory
      summary: Juniper Networks List organization inventory
      description: Returns all devices in the organization inventory, including claimed devices that may or may not be assigned to sites.
      tags:
      - Inventory
      parameters:
      - $ref: '#/components/parameters/OrgId'
      - name: serial
        in: query
        description: Filter by device serial number.
        schema:
          type: string
      - name: model
        in: query
        description: Filter by device model.
        schema:
          type: string
      - name: type
        in: query
        description: Filter by device type.
        schema:
          type: string
          enum:
          - ap
          - switch
          - gateway
      responses:
        '200':
          description: Inventory returned.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/InventoryItem'
        '401':
          $ref: '#/components/responses/Unauthorized'
    put:
      operationId: updateOrgInventory
      summary: Juniper Networks Update inventory assignment
      description: Assigns or unassigns devices from sites within the organization inventory. Used to move devices between sites or release them from site assignment.
      tags:
      - Inventory
      parameters:
      - $ref: '#/components/parameters/OrgId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                op:
                  type: string
                  enum:
                  - assign
                  - unassign
                  description: Operation to perform.
                site_id:
                  type: string
                  format: uuid
                  description: Target site ID for assignment.
                macs:
                  type: array
                  items:
                    type: string
                  description: List of device MAC addresses.
                serials:
                  type: array
                  items:
                    type: string
                  description: List of device serial numbers.
      responses:
        '200':
          description: Inventory updated.
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: array
                    items:
                      type: string
                  error:
                    type: array
                    items:
                      type: string
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
components:
  schemas:
    Error:
      type: object
      properties:
        detail:
          type: string
          description: Human-readable error description.
    InventoryItem:
      type: object
      properties:
        mac:
          type: string
          description: Device MAC address.
        serial:
          type: string
          description: Device serial number.
        model:
          type: string
          description: Device model.
        type:
          type: string
          enum:
          - ap
          - switch
          - gateway
          description: Device type.
        site_id:
          type: string
          format: uuid
          description: Assigned site ID, null if unassigned.
        org_id:
          type: string
          format: uuid
          description: Organization ID.
        claimed_time:
          type: number
          description: Time the device was claimed in epoch seconds.
  parameters:
    OrgId:
      name: org_id
      in: path
      required: true
      description: Organization unique identifier.
      schema:
        type: string
        format: uuid
  responses:
    Unauthorized:
      description: Authentication required or token invalid.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    BadRequest:
      description: Invalid request parameters.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  securitySchemes:
    apiToken:
      type: http
      scheme: bearer
      description: API token authentication. Generate tokens via the Mist dashboard under Organization > Settings > API Token or via POST /self/apitokens. Pass the token in the Authorization header as Bearer {token}.
    csrfToken:
      type: apiKey
      in: header
      name: X-CSRFToken
      description: CSRF token for session-based authentication. Obtained from the login response and required for all mutating operations when using cookie authentication.
